<div class="flex flex-row items-center gap-4">
    <search-input class="flex-1" placeholder="Busque por nombre..." (value)="buscarResultados($event)" />

    <div class="flex items-center gap-2">
        <span class="text-white">Vista grid: </span>
        <label class="switch">
            <input type="checkbox" [(ngModel)]="isGridView">
            <span class="slider"></span>
        </label>
    </div>
</div>


@if (isLoading()){
<div class="flex justify-center items-center min-h-screen flex-col">
    <img class="w-20"
        src="https://raw.githubusercontent.com/Codelessly/FlutterLoadingGIFs/master/packages/cupertino_activity_indicator_large.gif" />
    <h2 class="text-white text-xl">Obteniendo información...</h2>
</div>

}@else if (!isLoading() && products() != null){
@if (isGridView()) {
<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6">

    @for (product of products(); track product.id; let index = $index) {
    <div class="bg-gray-600 w-80 rounded-2xl p-3 flex flex-col h-full">
        <img class="rounded-2xl" src="{{product.imageUrl}}" />
        <h2 class="mt-auto flex text-center justify-start text-2xl font-bold text-white pt-4">{{product.name}}</h2>
        <br>
        <button class="cursor-pointer group relative items-center gap-2 overflow-hidden rounded-full
         bg-blue-600 px-5 py-1 text-lg font-semibold text-white hover:bg-blue-500"
            [routerLink]="['/catalog/techProducts',product.id]">Ver detalles</button>
    </div>
    }


</div>
}@else {
    <div class="flex flex-col gap-4 p-4"> @for (product of products(); track product.id) {
        <div class="bg-gray-800 w-full rounded-2xl p-4 flex flex-row items-center gap-6 shadow-lg">
            
            <img class="w-40 h-40 object-cover rounded-2xl flex-shrink-0" 
                 [src]="product.imageUrl" 
                 [alt]="product.name" />

            <div class="flex flex-col flex-1">
                <h2 class="text-2xl font-bold text-white mb-2">
                    {{product.name}}
                </h2>

                <div class="mt-auto">
                    <button class="cursor-pointer group relative inline-flex items-center gap-2 overflow-hidden rounded-full
                                   bg-blue-600 px-8 py-2 text-lg font-semibold text-white hover:bg-blue-500 transition-all"
                            [routerLink]="['/catalog/techProducts', product.id]">
                        Ver detalles
                    </button>
                </div>
            </div>

        </div>
    }

</div>
}

}@else if(!isLoading() && products() == null){
<div class="flex justify-center items-center min-h-screen flex-col">
    <img class="w-20"
        src="https://img.freepik.com/free-vector/hand-drawn-no-data-illustration_23-2150696455.jpg?semt=ais_hybrid&w=740&q=80" />
    <h2 class="text-white text-xl">No se encontrarón resultados</h2>
</div>
}